//https://www.wix.com/website-template/view/html/1845

$primary-color: #3ABFC7;

$main-font-color: #696969;

$title-text-color: white;
$active-link-text-color: $primary-color;

$menu-background-color: #F2F2F2;

$menu-font-color: #696969;
$menu-border-color: #333;

@import "menu";

html, body {
  padding: 0;
  margin: 0;
  font-family: Open Sans;
  font-size: 1em;
  color:$main-font-color;
}

h1 {
  //margin-top: 50px;
}




#content {
  flex-direction: row;
  //padding: 20px;
  margin-top: 60px;

}

#title {
  border: 0px solid blue;
  background-image: url('../images/title_index.jpeg');
  background-size: cover;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#title p {
  font-size: 45px;

  color: $title-text-color;
  text-shadow: 2px 2px $menu-border-color;
  text-align: center;
}

#title .smaller_text {
  font-size: 25px;
}
#introduction {
  border: 1px solid yellow;

}

#footer {
  border: 1px solid green;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center

}


@media screen and (max-width: 345px) {
  #title p {
    font-size: 30px;
  }
}