//https://www.wix.com/website-template/view/html/1845

$primary-color: #3ABFC7;

$main-font-color: #696969;

$title-text-color: white;
$active-link-text-color: $primary-color;

$menu-background-color: #F2F2F2;

$menu-font-color: #696969;
$menu-font-color_large_screen: #696969;
$menu-border-color: #333;

@import "menu";
@import "footer";

html, body {
  padding: 0;
  margin: 0;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 1em;
  color: $main-font-color;
  scroll-behavior: smooth;
}

h1 {
  margin: 0;
}


#content {
  flex-direction: row;
  margin: auto;
  margin-top: 56px;
  padding: 16px;
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0px solid blue;
  background-image: url('../images/title_index.jpg');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

#hero p {
  font-size: 45px;

  color: $title-text-color;
  text-shadow: 2px 2px $menu-border-color;
  text-align: center;
}

#hero .smaller_text {
  font-size: 25px;
  padding-top: 50px;
  flex-grow: 0.5;

}

#hero .large_text {
  flex-grow: 1;
  padding:10px;

}

#introduction {
  border: 1px solid yellow;

}



.container {
  display: flex;
  flex-direction: row;
  justify-content: center

}

#content h2 {
  color: $primary-color;
}

section {
  clear: both;
}

@media screen and (min-width: 1000px) {
  #content {
    width: 1000px;
  }
}

@media screen and (max-width: 375px) {
  #hero p {
    font-size: 30px;
  }
}


//Arrows
i {
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 25px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}