$title-text-color: white;

@import "menu";

html, body {
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
}

h1 {
  margin-top: 50px;
}



#content {
  flex-direction: row;
  padding: 20px;

}

#title {
  border: 0px solid blue;
  background-image: url('../images/title_index.jpeg');
  background-size: cover;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title p {
  font-size: 45px;

  color: $title-text-color;
  text-shadow: 2px 2px $menu-border-color;
  text-align: center;
}

#introduction {
  border: 1px solid yellow;

}

#footer {
  border: 1px solid green;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center

}


@media screen and (max-width: 345px) {
  #title p {
    font-size: 30px;
  }
}