//$menu-background-color: transparent;


/* [ON BIG SCREEN] */
/* Wrapper */
#menu {
  width: 100%;
  text-align: right;
  background: $menu-background-color;
  position: fixed;
  //position: absolute;
  top: 0;
  padding-top:10px;
  padding-bottom:10px;
}


/* Hide Hamburger */
#menu label, #hamburger {
  display: none;
}

/* Menu Items */
#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: $menu-background-color;
}

#menu ul li {
  display: block;
  //display: inline-block;
  padding: 10px;
  text-align: center;
  //box-sizing: border-box;
}
#menu ul li:hover {
  font-weight: bold;
  color: $primary-color;
}

#menu ul li a {
  color: $menu-font-color;
  text-decoration: none;
  text-align: center;
}

#menu ul li.active a {
  color: $primary-color;
  font-weight: bold;
}
/* [ON SMALL SCREENS] */
@media screen and (max-width: 375px) {
  #menu {
    padding:0px;
  }
  /* Show Hamburger */
  #menu label {
    display: inline-block;
    color: $primary-color;
    background: $menu-background-color;


    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  #menu ul li {
    //border-bottom: 1px solid $menu-border-color;
    text-align: center;
  }

  /* Toggle show/hide menu on checkbox click */
  #menu ul {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 30px;
    height: 100vh;
  }
  #menu input:checked ~ ul {
    display: flex;
    //background: $primary-color;
    //background-color: white;

  }
}

