$menu-background-color: transparent;
$menu-font-color: #333;
$menu-border-color: #333;

/* [ON BIG SCREEN] */
/* Wrapper */
#menu {
  width: 100%;
  text-align: right;
  background: $menu-background-color;
  //position: fixed;
  position: absolute;
  top: 0;
  padding-top:10px;
}

/* Hide Hamburger */
#menu label, #hamburger {
  display: none;
}

/* Menu Items */
#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#menu ul li {
  display: block;
  //display: inline-block;
  padding: 10px;
  text-align: center;
  //box-sizing: border-box;
}
#menu ul li:hover {
  font-weight: bold;
}

#menu ul li a {
  color: $menu-font-color;
  text-decoration: none;
  text-align: center;
}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 345px) {
  /* Show Hamburger */
  #menu label {
    display: inline-block;
    color: $menu-font-color;
    background: $menu-background-color;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  #menu ul li {
    border-bottom: 1px solid $menu-border-color;
    text-align: center;
  }

  /* Toggle show/hide menu on checkbox click */
  #menu ul {
    display: none;
  }
  #menu input:checked ~ ul {
    display: flex;
    flex-direction: column;
    background-color: white;

  }
}

