@import "common";


#blog_post_list {
  border: 0px solid yellowgreen;
  flex-grow: 1;
  flex-shrink: 0;
  width: 300px;
}

#blog_post_links {
  border: 0px solid yellowgreen;
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 15px;
  margin-top: 10px;
  text-align: center;
}

#blog_post_links ul {
  list-style: none;
  padding: 0;
}

#blog_post_links ul li a {
  color: $menu-font-color;
  text-decoration: none;
}
#blog_post_links ul li a:hover {

  text-decoration: underline;
}

.blog_post_date {
  font-size: small;
}

.blog_post {
  border: 1px solid black;
  margin: 30px;
  padding: 15px;
}

.blog_post_heading {
  color: $menu-font-color;

}

.blog_post_content {
  color: $menu-font-color;
}

.blog_post_content_text {
  width: 60vw;
}

.blog_post_content_image {
  width: 40vw;
  margin: 16px;
}

.blog_post_content_image img {
  width: 100%;
}


.flex-container {
  display: flex;
}


@media screen and (max-width: 640px) {

  #content {
    flex-direction: column;
  }

  #blog_post_list {
    width: 100%;
  }
  .blog_post {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
  }
  .blog_post_content {
    flex-direction: column;
  }

  .blog_post_content_text {
    width: 100%;
  }
  .blog_post_content_image {
    width: 100%;
    margin: 0;
  }
}


@media screen and (min-width: 1000px) {
  #content {
    width: 1000px;
    margin: auto;
    margin-top: 60px;
  }
}