@charset "UTF-8";
/* [ON BIG SCREEN] */
/* Wrapper */
#menu {
  width: 100%;
  text-align: right;
  background: #F2F2F2;
  position: absolute;
  top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Hide Hamburger */
#menu label, #hamburger {
  display: none;
}

/* Menu Items */
#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #F2F2F2;
}

#menu ul li {
  display: block;
  padding: 10px;
  text-align: center;
}

#menu ul li:hover {
  font-weight: bold;
  color: #343434;
}

#menu ul li a {
  color: #696969;
  text-decoration: none;
  text-align: center;
}

#menu ul li.active a {
  color: #343434;
  font-weight: bold;
}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 375px) {
  #menu {
    padding: 0px;
    position: fixed;
  }
  /* Menu close */
  #menu ul {
    display: none;
  }
  /* Show Hamburger Icon */
  #menu label {
    display: inline-block;
    color: #343434;
    background: #F2F2F2;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }
  #menu label:after {
    content: "☰";
  }
  /* Menu Open */
  #menu input:checked ~ ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 30px;
    height: 100vh;
  }
  #menu ul li {
    text-align: center;
  }
  /* Show Close Icon */
  #menu input:checked ~ label::after {
    content: "☓";
  }
}

#footer {
  border: 0px solid green;
  text-align: center;
}

#footer .socials {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer .socials a {
  padding: 10px;
}

.social_media_link_icon {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 0.5;
  width: 30px;
  height: 30px;
}

#footer .copyright {
  font-size: 12px;
}

#footer .icons_copyrights {
  font-size: 9px;
}

#footer .icons_copyrights a {
  color: #696969;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 1em;
  color: #696969;
  scroll-behavior: smooth;
}

h1 {
  margin: 0;
}

#content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
  margin-top: 56px;
  padding: 16px;
}

#content h2 {
  color: #343434;
}

section {
  clear: both;
}

@media screen and (min-width: 1000px) {
  #content {
    width: 1000px;
  }
}

@media screen and (max-width: 375px) {
  #hero p {
    font-size: 30px;
  }
}

i {
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 25px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#blog_post_list {
  border: 0px solid yellowgreen;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 300px;
}

#blog_post_links {
  border: 0px solid yellowgreen;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: 10px;
  margin-right: 25px;
}

#blog_post_links ul {
  list-style: none;
  padding: 0;
}

#blog_post_links ul li a {
  color: #696969;
  text-decoration: none;
}

#blog_post_links ul li a:hover {
  text-decoration: underline;
}

.blog_post_date {
  font-size: small;
  margin-left: 10px;
  font-style: italic;
}

.blog_post {
  border: 0px solid purple;
  clear: both;
}

.blog_post_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog_post_content img {
  float: left;
  width: 100%;
  max-height: 400px;
}

#blog_post_links ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 800px) {
  #blog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #blog_post_list {
    width: 100%;
  }
  #blog_post_links {
    margin-top: 0px;
    margin-right: 0px;
  }
  .blog_post_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog_post_content_text {
    width: 100%;
  }
  .blog_post_content_image {
    width: 100%;
    margin: 0;
  }
}
/*# sourceMappingURL=blog.css.map */